html {
	font-size: 16px;
}

body {
	background: #a8a8a8;
}

.nav-bar {
	display: flex;
	justify-content: space-evenly;
}

.nav-bar a {
	font-family: "Black Han Sans", serif;
    text-shadow: 2px 2px black;
	text-decoration: none;
	font-weight: normal;
	margin-top: 20px;
	color: #ffb732;
}

.nav-bar a:hover {
	color: #ffb732;
	text-shadow: 5px 5px 5px black;
	transition: text-shadow 200ms ease-out;
}

header {
	display: flex;
	margin: 70px 0px 15px 0px;
	justify-content: center;
}

h1 {
	display: flex;
	color: #ffb732;
	font-family: "Black Han Sans", serif;
	text-shadow: 3px 3px black;
	font-size: 3.5rem;
}

.copy {
	color: #ffb732;
	font-weight: bold;
	font-size: 1rem;
	text-shadow: none;
    text-shadow: 1px 1px 1px #000;
}

.main-container {
	margin: auto;
    max-width: 90%;
}

.main-container a {
	text-decoration: none;
}

.main-container a:hover {
    text-decoration: underline;
    color: aqua;
}

.a  {
	margin-bottom: 30px;
}

#myStory {
	color: #ffb732;
    font-size: 1.8rem;
    margin-bottom: 25px;
    text-shadow: 2px 2px 1px #000;
    font-family:"Black Han Sans", serif;
}

.image {
	max-width: 50%;
    margin: 4px -10px 12px 0px;
	float: left;
}

#rlh {
    width: 90%;
    border: solid 5px gray;
}

.c {
	margin-top: 12px; 
}

section p {
	color: #000;
	font-size: 0.9rem;
	line-height: 1.6rem;
    font-family: "Roboto Slab", serif;
}

#Crohns {
	color: #ffb732;
    font-size: 1.8rem;
    margin: 35px 0px 25px 0px;
    text-shadow: 2px 2px 1px #000;
    font-family:"Black Han Sans", serif;
}