html {
	font-size: 16px;
}

body {
	width: 100%;
	background: #a8a8a8;
}

.nav-bar {
	top: 0;
	height: 4%;
	z-index: 1;
	width: 100%;
	display: flex;
	position: fixed;
	padding-bottom: 11px;
	border: solid #fff 2px;
	justify-content: space-evenly;
	background-color: #909090;
}

.nav-bar a {
	font-family: "Black Han Sans", serif;
    text-shadow: 2px 2px black;
    padding: 0px 70px 0px 70px;
	text-decoration: none;
	font-weight: normal;
	margin-top: 11px;
	color: #fff;
	width: 100%;
}

.nav-bar a:hover {
	color: lightblue;
	text-shadow: 5px 5px 5px black;
	transition: all 350ms ease-in-out;
}

header {
	display: flex;
	margin: 130px 0px 30px 0px;
	justify-content: center;
}

section {
	width: 100%;
}

section p {
	color: #000;
	font-size: 0.9rem;
	line-height: 1.6rem;
    font-family: "Roboto Slab", serif;
}

h1 {
	display: flex;
	color: #fff;
	font-family: "Black Han Sans", serif;
	text-shadow: 3px 3px black;
	font-size: 3.5rem;
}

.copy {
	color: #fff;
	font-weight: bold;
	font-size: 1rem;
	text-shadow: none;
    text-shadow: 2px 2px 1px #000;
}

.main-container {
	z-index: -1;
	margin: auto;
    max-width: 90%;
}

.main-container a {
	color: olive;
	text-decoration: none;
	transition: all 150ms ease-in-out;
}

.main-container a:hover {
    text-decoration: none;
    color: lightblue;
}

#myStory {
	color: #fff;
	width: 100%;
    font-size: 1.8rem;
    margin-bottom: 25px;
    text-shadow: 2px 2px 1px #000;
    font-family:"Black Han Sans", serif;
}

.image {
	max-width: 50%;
    margin: 4px -10px 12px 0px;
	float: left;
}

#rlh {
    width: 90%;
    border: solid 2px gray;
}

#crohns, #fcc, #github, #mycarsl {
	color: #fff;
    font-size: 1.8rem;
    margin: 50px 0px 25px 0px;
    text-shadow: 2px 2px 1px #000;
    font-family:"Black Han Sans", serif;
}

video {
	float: right;
	margin: 38px 0px 0px 35px;
	border: solid 5px gray;
}

.a  {
	margin-bottom: 30px;
}

.b {
	margin-top: 9px; 
}

.d {
	margin-top: 30px;
}

.e {
    margin-top: 15px;
}

#cred, #gitlink, #camp, #cpcrsl {
   font-weight: bold;
}

#cred:hover {
   text-decoration: underline;
   text-decoration-color: #000;
}

#gitlink:hover {
   text-decoration: underline;
   text-decoration-color: #000;
}

#camp:hover {
   text-decoration: underline;
   text-decoration-color: #000;
}

#cpcrsl:hover {
   text-decoration: underline;
   text-decoration-color: #000;
}


footer {
    margin-top: 5%;
	background: #909090;
	border-top: solid #fff 2px;
}


footer .main-container {
	display: flex;
	padding-top: 30px;
	padding-bottom: 30px;
	justify-content: space-between;
}

footer .main-container ul {
    max-width: 90%;
}

.terms, .support, .project {
	color: #fff;
	font-size: 0.9rem;
	font-family: "Roboto Slab", serif;
}

.support li, .terms li, .project li {
  padding: 5px 0px 5px 0px;
}

.date {
	color: #fff;
	line-height: 6rem;
	font-size: 0.9rem;
}


